<div class="dvm lhm">
  <%= link_to "Pages", admin_pages_path, class: "c-red" %> &gt; <%= @page.name %>
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <table class="full-width">
      <% @page.editables.order(:id).each_with_index do |editable, index| %>
        <tr class="pas<%= index % 2 == 0 ? " bg-13" : " bg-12" %>">
          <td class="phxxxs pvxs fwl full-width">
            <%= editable.name %>
          </td>
          <td class="phxxxs pvxs">
            <%= link_to edit_admin_page_editable_path(@page, editable), class: "btn btn-primary" do %>
              <i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
