<% if @event.errors.any? %>
  <div class="pas mts-plus bg-16 bss bwas bc-12">
    <% @event.errors.full_messages.each do |message| %>
      <div class="mtxxxs c-red"><%= message %></div>
    <% end %>
  </div>
<% end %>
<% if @event.persisted? %>
  <% if @event.purchases.any? %>
    <% if @event.published == false %>
      <div class="mts-plus">
        <%= form_for [:admin, @event] do |f| %>
          <%= f.hidden_field :published, value: true %>
          <%= f.hidden_field :active, value: true %>
          <%= f.submit "Publish", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% elsif @event.active? %>
      <div class="mts-plus">
        <%= form_for [:admin, @event] do |f| %>
          <%= f.hidden_field :active, value: false %>
          <%= f.submit "Deactivate", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% else %>
      <div class="mts-plus">
        <%= form_for [:admin, @event] do |f| %>
          <%= f.hidden_field :active, value: true %>
          <%= f.submit "Activate", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="mts-plus">
      <%= link_to "You must attach options to the event before you can publish it. Click here.", admin_event_path(@event), class: "c-red" %>
    </div>
  <% end %>
<% end %>
<%= form_for [:admin, @event], html: {:multipart => true, class: "mts-plus"} do |f| %>
  <div class="row nmhxxs mts-plus">
    <% if @event.poster.attachment? %>
      <div class="col-sm-6 phxxs">
        <%= image_tag @event.poster.url(:original), class: "img-responsive" %>
      </div>
    <% end %>
    <div class="col-sm-6 phxxs">
      <%= f.fields_for :poster do |poster_fields| %>
        <%= poster_fields.file_field :attachment %>
      <% end %>
    </div>
  </div>
  <div class="mts-plus">
    <%= f.text_field :name, placeholder: "Name", class: "paxxxs bss bwas bc-12 full-width" %>
  </div>
  <div class="row nmhxxs mts-plus">
    <div class="col-xs-4 phxxs">
      <input type="text" class="paxxxs bss bwas bc-12 full-width js-datepicker" placeholder="Date" value="<%= @event.date.strftime("%m/%d/%Y") if @event.date.present? %>">
      <%= f.hidden_field :date %>
    </div>
    <div class="col-xs-4 phxxs">
      <%= f.select :start_time, select_times, { prompt: "Start Time" }, class: "dvs bss bwas bc-12 full-width" %>
    </div>
    <div class="col-xs-4 phxxs">
      <%= f.select :end_time, select_times, { prompt: "End Time" }, class: "dvs bss bwas bc-12 full-width" %>
    </div>
  </div>
  <div class="mts-plus">
    <%= f.text_area :description, placeholder: "Description", class: "paxxxs bss bwas bc-12 full-width dvxxxxl" %>
  </div>
  <div class="mts-plus">
    <%= f.check_box :private %>
    <%= f.label :private, "Private Event" %>
  </div>
  <div class="fss fwl mts-plus">LOCATION</div>
  <div class="mts-plus">
    <%= f.text_field :location_name, placeholder: "Name", class: "paxxxs bss bwas bc-12 full-width" %>
  </div>
  <div class="mts-plus">
    <%= f.text_field :location_street, placeholder: "Street", class: "paxxxs bss bwas bc-12 full-width" %>
  </div>
  <div class="row nmhxxs mts-plus">
    <div class="col-xs-4 phxxs">
      <%= f.text_field :location_city, placeholder: "City", class: "paxxxs bss bwas bc-12 full-width" %>
    </div>
    <div class="col-xs-4 phxxs">
      <%= f.text_field :location_state, placeholder: "State", class: "paxxxs bss bwas bc-12 full-width" %>
    </div>
    <div class="col-xs-4 phxxs">
      <%= f.text_field :location_zip, placeholder: "Zip", class: "paxxxs bss bwas bc-12 full-width" %>
    </div>
  </div>
  <div class="mts-plus">
    <%= f.submit class: "btn btn-primary full-width" %>
  </div>
<% end %>
