<div class="dvm lhm">
  <%= link_to "Events", admin_events_path, class: "c-red" %> &gt; <%= @event.name %>
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <%= link_to "Add Option", new_admin_event_event_purchase_path(@event), class: "btn btn-primary" %>
    <div class="mtm">
      <table class="full-width">
        <% @event.purchases.each_with_index do |purchase, index| %>
          <tr class="pas<%= index % 2 == 0 ? " bg-13" : " bg-12" %>">
            <td class="phxxxs pvxs">
              <i class="fa fa-arrows"></i>
            </td>
            <td class="phxxxs pvxs fwl full-width">
              <%= purchase.name %>
            </td>
            <td class="phxxxs pvxs">
              <%= link_to edit_admin_event_event_purchase_path(@event, purchase), class: "btn btn-primary" do %>
                <i class="fa fa-edit"></i> <span class="hidden-xs">Edit</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
