<div class="dvm lhm">
  <%= link_to "Events", admin_events_path, class: "c-red" %> &gt; <%= @event.name %>
</div>
<div class="row nmhxxs">
  <div class="col-sm-8 phxxs">
    <%= link_to "Add Option", new_admin_event_event_purchase_path(@event), class: "btn btn-primary" %>
    <div class="mtm">
      <% @event.purchases.each_with_index do |purchase, index| %>
        <div class="pas<%= index % 2 == 0 ? " bg-10" : " bg-12" %>">
          <table class="full-width">
            <tr>
              <td class="fwl">
                <%= purchase.name %>
              </td>
              <td class="text-right">
                <%= link_to edit_admin_event_event_purchase_path(@event, purchase) do %>
                  <i class="fa fa-edit"></i>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>
