<div class="bg-1">
  <div class="container phxs pbxxl bg-repeat-n" style="background-position: bottom right;background-image: url(<%= asset_path("AlshonJeffrey.jpg") %>);background-size: auto 100%;">
    <div class="row nmhs">
      <div class="col-md-6 phs mts">
        <%= image_tag "logo.png" %>
      </div>
      <div class="col-md-6 phs c-16 fss fwl italicize">
        <div class="text-right lhxl visible-lg visible-md">
          <%= link_to "EVENTS", events_path %> <%= image_tag "nav_slant.png" %> <%= link_to "ATHLETES", athletes_path %> <%= image_tag "nav_slant.png" %> <%= link_to "GALLERY", galleries_path %> <%= image_tag "nav_slant.png" %> <%= link_to "CONTACT", contact_path %>
        </div>
        <div class="text-left visible-xs visible-sm mtm">
          <%= link_to "EVENTS", events_path %> <%= image_tag "nav_slant.png" %> <%= link_to "ATHLETES", athletes_path %> <%= image_tag "nav_slant.png" %> <%= link_to "GALLERY", galleries_path %> <%= image_tag "nav_slant.png" %> <%= link_to "CONTACT", contact_path %>
        </div>
      </div>
    </div>
    <div class="dvs hidden-xs"></div>
    <div class="row nmhs mtxs">
      <div class="col-sm-7 phs c-16 fws fss lhs" style="text-shadow: 1px 1px #000000">
        <%= @editables.where(name: "Description").last.text %>
      </div>
    </div>
  </div>
</div>
<div class="dvxxxs bg-8"></div>
<div class="container phxs pbxxxxl mtxl">
  <div class="c-red fsxl fwl italicize">
    OUR MISSION
  </div>
  <div class="row nmhs">
    <div class="col-sm-7 phs mtxxs fsxxs lhs">
      <%= @editables.where(name: "Paragraph - Left").last.text %>
    </div>
    <div class="col-sm-5 phs mtxxs fsxxs lhs">
      <%= @editables.where(name: "Paragraph - Right").last.text %>
    </div>
  </div>
</div>
