<div class="row nmhs">
  <div class="col-sm-8 phs mtm">
    <div class="video-container">
      <iframe src="https://www.google.com/maps/embed/v1/place?q=<%= @editables.where(name: "Location - Line 1").last.text %> <%= @editables.where(name: "Location - Line 2").last.text %> United States&key=AIzaSyAfmyic-kQ7VHXuaumum77G-FoudrJXJfE"></iframe>
    </div>
    <div class="row nmhxs">
      <div class="col-sm-4 phxs mtm">
        <div class="c-1 fsxs fwl upcase"><%= @editables.where(name: "Location - Name").last.text %></div>
        <div class="mtxxxs fsxxs"><%= @editables.where(name: "Location - Line 1").last.text %></div>
        <div class="mtxxxs fsxxs"><%= @editables.where(name: "Location - Line 2").last.text %></div>
      </div>
      <div class="col-sm-5 phxs mtm">
        <div class="c-1 fss fwl"><%= @editables.where(name: "Contact - Phone Number").last.text %></div>
        <div class="mtxxxs">
          <%= mail_to @editables.where(name: "Contact - Email Address").last.text, @editables.where(name: "Contact - Email Address").last.text, class: "c-red" %>
        </div>
      </div>
      <div class="col-sm-3 phxs mtm text-right">
        <table class="fsxxxs">
          <tr>
            <td class="prxxxs ptxxxs fwl text-left">
              S
            </td>
            <td class="ptxxxs">
              <%= @editables.where(name: "Store Hours - Sunday").last.text %>
            </td>
          </tr>
          <tr>
            <td class="prxxxs ptxxxs fwl text-left">
              M
            </td>
            <td class="ptxxxs">
              <%= @editables.where(name: "Store Hours - Monday").last.text %>
            </td>
          </tr>
          <tr>
            <td class="prxxxs ptxxxs fwl text-left">
              T
            </td>
            <td class="ptxxxs">
              <%= @editables.where(name: "Store Hours - Tuesday").last.text %>
            </td>
          </tr>
          <tr>
            <td class="prxxxs ptxxxs fwl text-left">
              W
            </td>
            <td class="ptxxxs">
              <%= @editables.where(name: "Store Hours - Wednesday").last.text %>
            </td>
          </tr>
          <tr>
            <td class="prxxxs ptxxxs fwl text-left">
              T
            </td>
            <td class="ptxxxs">
              <%= @editables.where(name: "Store Hours - Thursday").last.text %>
            </td>
          </tr>
          <tr>
            <td class="prxxxs ptxxxs fwl text-left">
              F
            </td>
            <td class="ptxxxs">
              <%= @editables.where(name: "Store Hours - Friday").last.text %>
            </td>
          </tr>
          <tr>
            <td class="prxxxs ptxxxs fwl text-left">
              S
            </td>
            <td class="ptxxxs">
              <%= @editables.where(name: "Store Hours - Saturday").last.text %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-sm-4 phs mtm">
    <div class="c-1 fsxs fwl italicize">
      GENERAL INQUIRIES
    </div>
    <div class="">
      <% if @contact.errors.any? %>
        <div class="paxs mtxs bss bwas bc-1">
          <% @contact.errors.full_messages.each do |message| %>
            <div class="mtxxxs-plus c-red">
              <%= message %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= form_for @contact do |f| %>
        <%= f.hidden_field :to, value: @editables.where(name: "Contact - Email Address").last.text %>
        <%= f.text_field :name, placeholder: "Name", class: "paxxxs mts bss bwas bc-1 full-width" %>
        <%= f.text_field :email, placeholder: "Email address", class: "paxxxs mts bss bwas bc-1 full-width" %>
        <%= f.text_field :subject, placeholder: "Subject", class: "paxxxs mts bss bwas bc-1 full-width" %>
        <%= f.text_area :message, placeholder: "Message", class: "paxxxs mts bss bwas bc-1 dvxxxxl full-width" %>
        <div class="mtxs text-right">
          <%= f.submit "SUBMIT", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="mvm bss bwtm bc-12"></div>
    <div class="fb-like-box" data-href="https://www.facebook.com/sidelinemarketing" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
  </div>
</div>
