<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF=8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Thank you for your order!</h2>
    =============================
    <p>
      <b><%= @order.event.name %><b>
    </p>
    <p>
      <div>
        <%= @order.event.date.strftime("%m/%d/%Y") %>
      </div>
      <div>
        <%= @order.event.start_time %> - <%= @order.event.end_time %>
      </div>
    </p>
    <p style="margin-top: 10px">
      <div>
        <%= @order.event.location_name %>
      </div>
      <div>
        <%= @order.event.location_street %>
      </div>
      <div>
        <%= @order.event.location_city %>, <%= @order.event.location_state %>, <%= @order.event.location_zip %>
      </div>
    </p>
    =============================
    <p>
      You purchased the following:
    </p>
    <ul>
      <% @order.event_purchase_options.each do |option| %>
        <li>
          (<%= option.quantity %>) <%= option.event_purchase.name.pluralize(option.quantity) %> = <%= number_to_currency option.price %>
        </li>
      <% end %>
    </ul>
    <p>
      For a total of <b><%= number_to_currency @order.price %></b>
    </p>
    =============================
    <p>
      Your purchase will be available at will call.
    </p>
  </body>
</html>
