<!DOCTYPE html>
<html>
<head>
  <title>Sideline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bg-1 dvxl lhxl">
    <div class="container phxs">
      <%= link_to root_path do %>
        <%= image_tag "nav_logo.png" %>
      <% end %>
    </div>
  </div>
  <div class="bg-4 pvxxxs c-8">
    <div class="container phxs">
      <span class="<%= "active" if @navigation == "orders" %>"><%= link_to "Orders", admin_orders_path, class: "c-16-active" %></span> | <span class="<%= "active" if @navigation == "events" %>"><%= link_to "Events", admin_events_path, class: "c-16-active" %></span> | <span class="<%= "active" if @navigation == "athletes" %>"><%= link_to "Athletes", admin_organizations_path, class: "c-16-active" %></span> | <span class="<%= "active" if @navigation == "galleries" %>"><%= link_to "Galleries", admin_galleries_path, class: "c-16-active" %></span> | <span class="<%= "active" if @navigation == "pages" %>"><%= link_to "Pages", admin_pages_path, class: "c-16-active" %></span> | <span class="<%= "active" if @navigation == "slideshows" %>"><%= link_to "Slideshows", admin_slideshows_path, class: "c-16-active" %><span>
    </div>
  </div>
  <div class="container phxs pbxxxxl">
    <%= yield %>
  </div>
</body>
</html>
