<!DOCTYPE html>
<html>
<head>
  <title>Sideline</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'/>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <div class="container phm pvm text-center c-11 italicize">
    <div class="">&copy; 2014 SIDELINE MARKETING, LLC</div>
    <div class=""><%= link_to "ADMIN PANEL", admin_orders_path %></div>
    <div class="mtxs">
      <%= link_to "http://cupofhunks.com" do %>
        <%= image_tag "cup.png" %>
      <% end %>
    </div>
  </div>
</body>
</html>
